*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style-type: none;
}
a{
    color: #8A4036;
    text-decoration:none;
}
.left{
    float: left;
}
.right{
    float: right;
}

/*nav*/
#nav{
    height: 70px;
    background-color:#C6DCFC;
}
#nav ul li{
    float:left;
    line-height: 70px;
}
#nav li a {
    color: #6978A3;
    font-size: 20px;
    margin: 20px;
    padding: 0px 15px;
}
#nav li a:hover{
    color: #57AF9C;
}

/*service design*/
#service{
    height:270px;
    background-color: #A9A9F0 ;
}
#service ul{
    width: 1110px;
    margin: 0px auto;
    padding-top: 20px;
}
#service ul li{
    width:170px;
    float: left;
    text-align: center;
    margin: 0px 20px;
}
#service ol li{
    line-height: 30px;
}
#service ol li a{
    color: #380C29;
}
#service ol li a:hover{
    color: #3B4E6B;
}

#service ol li:first-child a{
    font-weight: bold;
    color: #402C2B;
}

/*footer design*/
#footer{
    height: 40px;
    background-color: #A5E6E1 ;
}
#footer p{
    line-height: 40px;

}
#footer p a{
    margin: 0px 30px;
    color: #B991B3;
    text-align: center;   
}
#footer a:hover{
    color: #3B4E6B;
}

/*contact us design*/
body{background-color: #F6E7D2;

}
.content h1{
    font-size: 30px;
    padding-left: 50px;
    padding-top: 20px;
    color: #663300;
    margin: 30px;
    text-align: center;
 }
 .content h2{
    font-size: 25px;
    padding-left: 50px;
    padding-top: 20px;
    color: #663300;
    margin: 30px;
 }
 .content p{
    font-size: 22px;
    color: #5e412f;
    padding-left: 70px;
    padding-bottom: 50px;
    max-width: 1200px;
}